<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/styles.css">
    <title>Flex</title>
</head>

<body>
    <header>
        <div class="header">
            <div>
                <a width="80" alt="logo">
                    <img src="../img/astronaut.jpg" alt="logo" class="header-logo">
                </a>
                <h1 class="title">Muhammad Sabah Ibrahim</h1>
            </div>
            <nav class="nav">
                <ul class="nav-links">
                    <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="../blog.html">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="../schedule.html">Schedule</a></li>
                    <li class="nav-item dropdown-container">
                        <a class="nav-link" href="">Layout Design &#x25BC;</a>
                        <ul class="dropdown-items-container">
                            <li><a class="nav-sub-link" href="../layout/float.html">Float layout with side nav</a>
                            </li>
                            <li><a class="nav-sub-link" href="../layout/flex.html">Flexbox layout with side nav</a></li>
                            <li><a class="nav-sub-link" href="../layout/grid.html">Blog grid view</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="../signup.html">Signup</a></li>
                    <li class="nav-item"><a class="nav-link" href="../signin.html">Signin</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="flex-container">
            <section>
                <h2>Flexbox Sidebar + Blogs</h2>
                <article>
                    <h2>Topic 1 Lorem ipsum dolor sit.</h2>
                    <div class="author-box">By <a href="">Himdad Hasan</a> on <time>Monday, 30/10/2022 12:00
                            PM</time> </div>
                    <div>
                        <img class="article-img" src="../img/cat.jpg" alt="article-image">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum similique, accusantium
                            accusamus
                            aut
                            ratione id hic dolorum facere, magni, quis quisquam eum
                            repellendus aperiam recusandae.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut atque animi vel similique
                            aliquid
                            fugit nesciunt eum suscipit ut. Dolorem?
                        </p>
                        <p>Corrupti
                            itaque, esse quae soluta alias voluptas veniam ipsam vel impedit ab voluptatem
                            voluptates
                            quibusdam?
                            Quisquam quod placeat iure voluptas ad sequi dignissimos molestiae quos?</p>
                    </div>
                </article>
                <article>
                    <h2>Topic 2 Lorem ipsum dolor sit.</h2>
                    <div class="author-box">By <a href="">Ari Abdulla</a> on <time>
                            Wednesday, 02/12/2022 01:00 PM
                        </time> </div>
                    <div>
                        <img class="article-img" src="../img/monster.png" alt="article-image">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum similique, accusantium
                            accusamus
                            aut
                            ratione id hic dolorum facere, magni, quis quisquam eum repellendus aperiam recusandae.
                            Corrupti
                            itaque, esse quae soluta alias voluptas veniam ipsam vel impedit ab voluptatem
                            voluptates
                            quibusdam?
                            Quisquam quod placeat iure voluptas ad sequi dignissimos molestiae quos?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio commodi
                            deleniti
                            placeat
                            repellat vero nemo nulla adipisci deserunt iure asperiores id a, expedita fuga!</p>
                    </div>
                </article>
                <article>
                    <h2>Topic 3 Lorem ipsum dolor sit.</h2>
                    <div class="author-box">By <a href="">Himdad Hasan</a> on
                        <time>Saturday, 02/12/2022 03:00 PM</time>
                    </div>
                    <div>
                        <img class="article-img" src="../img/astronaut.jpg" alt="article-image">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum similique, accusantium
                            accusamus
                            aut
                            ratione id hic dolorum facere, magni, quis quisquam eum repellendus aperiam recusandae.
                            Corrupti
                            itaque, esse quae soluta alias voluptas veniam ipsam vel impedit ab voluptatem
                            voluptates
                            quibusdam?
                            Quisquam quod placeat iure voluptas ad sequi dignissimos molestiae quos?
                        </p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio commodi
                            deleniti
                            placeat
                            repellat vero nemo nulla adipisci deserunt iure asperiores id a, expedita fuga! Lorem
                            ipsum
                            dolor sit amet consectetur adipisicing elit. Error harum officia, repellendus dolore qui
                            nihil
                            sapiente ad eveniet fugit minima veritatis dolores deleniti libero laborum inventore
                            maxime
                            quisquam voluptas quibusdam.
                        </p>
                    </div>
                </article>
            </section>
            <aside>
                <h2 class="aside-title">Layout Design</h2>
                <nav>
                    <ul>
                        <li><a class="aside-link" href="float.html">Float layout with side nav</a></li>
                        <li><a class="aside-link" href="flex.html">Flexbox layout with side nav</a></li>
                        <li><a class="aside-link" href="grid.html">Blog grid view</a></li>
                    </ul>
                </nav>
            </aside>

        </div>
    </main>
    <footer class="footer">
        <div class="footer-wrapper">
            <div>
                <h4>Sitemap</h4>
                <ul class="footer-box">
                    <li><a class="footer-link" href="index.html">Home</a></li>
                    <li><a class="footer-link" href="#">About</a></li>
                    <li><a class="footer-link" href="#">Contact</a></li>
                    <li><a class="footer-link" href="signin.html">Login</a></li>
                </ul>
            </div>
            <div>
                <h4>Terms and Quick Links</h4>
                <ul class="footer-box">
                    <li><a class="footer-link" href="">Terms of usage</a></li>
                    <li><a class="footer-link" href="">Link 1</a></li>
                    <li><a class="footer-link" href="">Link 2</a></li>
                    <li><a class="footer-link" href="">Link 3</a></li>
                </ul>
            </div>
            <div>
                <h4>Address and Contact</h4>
                <address class="footer-box">
                    <p>City, Governorate, Country</p>
                    <p>Phone:
                        <a class="footer-link" href="tel:0964-000-000-0000">0964 000 000 0000</a>
                    </p>
                    <p>Email:
                        <a class="footer-link email" href="mailto:example@domain.com">example@domain.com</a>
                    </p>
                </address>
            </div>
        </div>
    </footer>
</body>

</html>